@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #d9514eff;
    opacity: 0.9;
    font-family: 'Noto Serif Display', serif;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.wrapper {
    display: flex;
    width: 500px;
    height: 500px;
    flex-direction: column;
    border: 0.5px solid black;
    border-radius: 10px;
    align-items: center;
    background: #2da8d8ff;
    justify-content: center;
    transition: 0.3s all ease-in-out;
}

#welcome {
    color: #fff;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

#display-message {
    color: white;
    margin-bottom: 1rem;
    font-size: 1.8rem;
}

.input-elements {
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.input-elements label {
    color: #fff;
    padding: 0.1em;
    margin: 0.1em;
    font-weight: bold;
    font-size: 1.4em;
}

.buttons {
    display: flex;
    flex-direction: column;
}

#input-pin {
    padding: 0.5em;
    margin: 1em;
}

input::placeholder {
    font-style: italic;
}

.amount-input {
    display: none;
}

.show-amount {
    display: flex;
    margin: 0.5rem;
    padding: 0.5rem;
}

button {
    padding: 0.7rem;
    margin: 0.5rem;
    font-weight: lighter;
    font-size: 1em;
    border-radius: 5px;
    border: none;
    text-transform: uppercase;
    color: white;
    background: linear-gradient(90deg, #000, #2a2b2dff);
}

.btn-style {
    padding: 5px 8px;
    color: white;
    background-color: #1f1f1f;
    font-weight: lighter;
    font-size: 1rem;
    margin: 1.3rem;
}

button:hover {
    color: lightgrey;
    background: #000;
}

.hide {
    display: none;
}

.cashout-btn {
    display: flex;
    padding: 0.4rem;
    font-size: 0.9rem;
    background-color: rgba(0, 0, 0, 0.7);
    transition: 0.3s ease-in;
}

.cashout-btn:hover, .btn-style:hover {
    color: lightgrey;
    background-color: rgba(0, 0, 0, 1);
}

#display-message {
    padding: 1em;
    margin: 0.5em;
    font-weight: bold;
    font-size: 1.3em;
    color: #fff;
}