@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #d9514eff;
    opacity: 0.9;
    font-family: 'Noto Serif Display', serif;
    text-align: center;
}

/* Main Container */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

/* Pin-setup */
.set-pin-div {
    display: flex;
    flex-direction: column;
    width: 20%;
    min-height: 40%;
    background-color: #2da8d8ff;
    border: none;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.set-pin-div p {
    font-size: 1.6rem;
    font-weight: 800;
    margin-top: 22px;
    color: #f4f4f4;
}

.set-pin-div .pin {
    width: 70%;
    margin: 15px auto;
    height: 45px;
}

.set-pin-div .set-pin-btn {
    width: 45%;
    margin: 15px auto;
}

/* Main div */
.wrapper {
    display: none;
    width: 390px;
    height: 415px;
    flex-direction: column;
    border: none;
    border-radius: 15px;
    align-items: center;
    background: #2da8d8ff;
    justify-content: center;
    transition: 0.3s all ease-in-out;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#welcome {
    color: #fff;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    margin-top: 35px;
}

#display-message {
    color: white;
    margin-bottom: 1rem;
    font-size: 1.8rem;
}

.input-elements {
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.input-elements label {
    color: #fff;
    padding: 0.1em;
    margin: 0.1em;
    font-weight: bold;
    font-size: 1.3em;
}

/* Buttons */
.buttons {
    display: flex;
    flex-direction: column;
}

#input-pin {
    padding: 1em;
    margin: 1em;
}

input::placeholder {
    font-style: italic;
}

.amount-input {
    display: none;
}

.show-amount {
    display: flex;
    margin: 0.5rem;
    padding: 0.5rem;
}

button {
    padding: 0.7rem;
    margin: 0.5rem;
    font-weight: lighter;
    font-size: 1em;
    border-radius: 5px;
    border: none;
    text-transform: uppercase;
    color: white;
    background: linear-gradient(90deg, #000, #2a2b2dff);
}

.btn-style {
    padding: 5px 8px;
    color: white;
    background-color: #1f1f1f;
    font-weight: lighter;
    font-size: 1rem;
    margin: 1.3rem;
}

button:hover {
    color: lightgrey;
    background: #000;
}

.hide {
    display: none;
}

.cashout-btn {
    display: flex;
    padding: 0.4rem;
    font-size: 0.9rem;
    background-color: rgba(0, 0, 0, 0.7);
    transition: 0.3s ease-in;
}

.cashout-btn:hover, .btn-style:hover {
    color: lightgrey;
    background-color: rgba(0, 0, 0, 1);
}

#display-message {
    padding: 1em;
    margin: 0.5em;
    font-weight: bold;
    font-size: 1.3em;
    color: #fff;
}

@media screen and (max-width: 768px) {
    .set-pin-div {
        width: 35%;
    }
}

@media screen and (max-width: 400px) {
    .wrapper {
        width: 80%;
        height: 335px;
    }
    .set-pin-div {
        width: 70%;
    }
    .wrapper #welcome {
        font-size: 1.3rem;
    }
    .input-elements label {
        font-size: 1rem;
    }
    #display-message {
        font-size: 1rem;
    }
    .btn-style {
        font-size: 0.75rem;
    }
    #check-balance-btn,#withdraw-cash-btn {
        font-size: 0.75rem;
    }
}